* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --black: #0d114f;
  --white: #fafafa;
  --red: #e83f5b;
  --light-blue: #e0ecff;
  --blue: #3485ff;
  --background: #f6faff;
  --overlay: #040911;
  --icon-details: #a5b0c1;

  --gre-dark: #4d5e77;
  --gre-blue: #a1b2cd;
  --gre-medium: #d3d9e2;
  --gre-light: #e5eaf1;

  --hov-blue: #5699ff;
  --hov-red: #ea4b65;
  --hov-grey: #8794a7;

  --box-grey: #e5e5e5;

  --font-text: 'Open Sans', sans-serif;
  --font-title: 'Poppins', sans-serif;

  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  background: var(--background);
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: var(--font-text);
}

.content {
  width: 100%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input,
button,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}

button,
.button {
  font-family: var(--font-title);
  font-weight: 500;
  line-height: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
  transition: filter 0.2s;
}

button i {
  font-size: 2.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: 1rem;
}

button:hover,
.button:hover {
  filter: brightness(1.2);
}

button.outlined,
.button.outlined {
  background: var(--white);
  color: var(--blue);
  border: 0.2rem solid var(--blue);
}

button.red {
  color: var(--white);
  background: var(--red);
}

button.grey {
  background: var(--gre-light);
  color: var(--gre-dark);
}

.content header {
  width: 80%;
  margin: 3.5rem auto;
}

.content header img {
  width: 16.7rem;
}
