<section>
  <h2>Entre como participante</h2>

  <form action="">
    <label class="sr-only" for="room-id"> C칩digo da Sala</label>
    <input id="room-id" type="number" placeholder="C칩digo da sala" />
    <button>
      <i class="icon-log-out"></i>
      <p>Entrar na Sala</p>
    </button>
  </form>
</section>

<div class="separator">
  <div></div>
  <div>Ou</div>
  <div></div>
</div>

<section>
  <h2>Crie sua pr칩ria sala de forma f치cil</h2>
  <a href="/create-pass" type="submit" class="button outlined">
    <i class="icon-users"></i>
    <p>Criar sala</p>
  </a>
</section>
